body {
    font-family: 'Kanit', sans-serif;
    background-color: #ecf2f7;
    margin: 0;
}

/* -------------------
   header style 
   ------------------- */
#header-content {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.head-content {
    width: 90%;
    height: 646px;
    background-color: #161616;
    border-radius: 30px;
    display: flex;
}

.head-content-div {
    width: 90%;
    display: flex;
    justify-items: center;
    align-items: center;
    /* gap: 24px; */

}

.head-text-button {
    color: #ffffff;
    width: 50%;
    padding: 10%;
    /* position: relative;
    left: 140px; */
}


.head-text-button h2 {
    font-size: 2em;
    /* font-weight: 2em; */
    /* line-height: 80px; */
}

/* .head-text-button p {
    font-size: 18px;
    text-align: justify;
} */

.head-text-button button {
    background-color: #DD0000;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    padding: 16px 25px;
    margin-top: 30px;
    justify-content: center;
}

.live-button {
    display: flex;
    gap: 10px;
    flex-direction: row;
    transition-duration: 1s;
}


.head-img {
    width: 50%;
}

.head-img img {
    width: 100%;

}

/* header design end  */

#fixed-manu {
    /* position: relative; */
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    /* position: static; */
    /* margin-left: 140px;
    margin-top: 130px; */
}

.button-1,
.button-2,
.button-3 {
    font-size: 20px;
    text-align: center;
    width: 252px;
    height: 64;
    border-radius: 10px;
    font-weight: 600;
    padding: 20px 20px;
}

a {
    text-decoration: none;
}

.button-3 {
    color: #ffffff;
    background-color: #DD0000;
}

/* blog sec 
 */

.stycky {
    margin-right: 20px;
    
}

.blog-items {
    /* width: 60%; */
    /* margin-top: 130px;
    margin-right: 140px; */
}

.blog {
    width: 100%;
    height: 362px;
    border: 1px solid #c8b5b5;
    border-radius: 15px;
    padding-bottom: 20px;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

#main-manu-item {
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    /* flex-direction: row;
    overflow: hidden; */
}

/* right side design  */
.image img {
    width: 100%;
    height: 175px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.blog-buttom-side {
    margin: 20px;
}

.blog-buttom-side button {
    padding: 10px;
    font-size: 16px;
}

/*----------------------
 blog style finish 
-------------------- */

/* upcoming start  */
.up-coming-mach {
    height: 242px;
}

.up-coming-buttom-side {
    margin-top: -30px;
}


footer {
    margin-top: 130px;
    height: 444px;
    background-color: #161616;
}

footer h2 {
    font-size: 80px;
    font-weight: 800;
    color: #ffffff;
    text-align: center;
    padding-top: 50px;
}

footer hr {
    width: 1320px;
}

footer nav ul {
    display: flex;
    width: 50%;
    margin: 0 auto 40px;
    margin-top: 50px;
}

footer nav ul li {
    list-style: none;
    margin: 10px;
    padding: 10px;
    margin: 0 auto;
}

footer nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}



.follow-footer {
    text-align: center;
    background-color: #161616;
    color: aqua;
    font-size: 30px;

}
@media screen and (min-width: 688) and(max-width: 992){
    #main-manu-item {
            display: flex;
            width: 90%;
            margin: auto;
            margin-top: 40px;
            flex-direction: column;
        }
}